#############
# Log Files #
#############
*.log

#########
# Notes #
#########
notebook.md

#####################
# Behind the scenes #
#####################

# Python virtulenv and bytecode
env/
__pychache__

# Text editor swap files
*.swp

