oauth: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
nick: justinfan4242
channels: twircbot
log: default.log
time_format: '[%Y-%m-%d %H:%M:%S]'
host: irc.twitch.tv
port: 6667
block_size: 4096
reconnect_timer: 600
stayalive_timer: 0
connect_timeout: 10
receive_timeout: 0.1

%template
oauth: str
nick: str
channels: list
log: str
time_format: str
host: str
port: int
block_size: int
reconnect_timer: float
stayalive_timer: float
connect_timeout: float
receive_timeout: float
