privmsg_string ':(\S+)!\S+@\S+\.tmi\.twitch\.tv PRIVMSG \#(\S+) :(.*)'
join_string ':(\S+)!\S+@\S+\.tmi\.twitch\.tv JOIN \#(\S+)'
part_string ':(\S+)!\S+@\S+\.tmi\.twitch\.tv PART \#(\S+)'
mode_string ':jtv MODE \#(\S+) ([+]|[-])o (\S+)'
ping_string 'PING :tmi.twitch.tv'
name_list_prefix '\.tmi\.twitch\.tv 353 '
name_list_suffix ' \= \#(\S+) :(.*)'
name_list_end_prefix '\.tmi\.twitch\.tv 366 ' 
name_list_end_suffix ' \#(\S+) :End of \/NAMES list'

%template
privmsg_string str
join_string str
part_string str
mode_string str
ping_string str
name_list_prefix str
name_list_suffix str
name_list_end_prefix str
name_list_end_suffix str
