privmsg_string ':(\S+)!\S+@\S+\.tmi\.twitch\.tv PRIVMSG \#(\S+) :(.*)'
whisper_prefix ':(\S+)!\S+@\S+\.tmi\.twitch\.tv WHISPER '
join_string ':(\S+)!\S+@\S+\.tmi\.twitch\.tv JOIN \#(\S+)'
part_string ':(\S+)!\S+@\S+\.tmi\.twitch\.tv PART \#(\S+)'
mode_string ':jtv MODE \#(\S+) ([+]|[-])o (\S+)'
ping_string 'PING :tmi.twitch.tv'
name_list_prefix '\.tmi\.twitch\.tv 353 '
name_list_suffix ' \= \#(\S+) :(.*)'
name_list_end_prefix '\.tmi\.twitch\.tv 366 ' 
name_list_end_suffix ' \#(\S+) :End of \/NAMES list'
greet_prefix ':tmi.twitch.tv (001|002|003|004|372|375|376) '
cap_string ':tmi.twitch.tv CAP \* ACK :twitch.tv/(\S+)'
roomstate_string ':tmi.twitch.tv ROOMSTATE \#(\S+)'
userstate_string ':tmi.twitch.tv USERSTATE \#(\S+)'

%template
privmsg_string str
join_string str
part_string str
mode_string str
ping_string str
name_list_prefix str
name_list_suffix str
name_list_end_prefix str
name_list_end_suffix str
whisper_prefix str
greet_prefix str
cap_string str
roomstate_string str
userstate_string str
